.heading-content {
  margin-top: 7rem;
  margin-bottom: 2rem;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;

}
.heading-content > h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  text-align: left;
}

@media (max-width: 1000px) {
  .heading-content > h1 {
    font-size:40px;
    margin-bottom: 10px;
  }
  .heading-content {
    margin-top: 15%;
    padding: 0 5%;
  }
}