.searchbar-div {
  display: flex;
  flex-direction: column;
  padding-left: 1.1rem;
}

.searchbar-div > div > input {
  padding-bottom: 1rem;
  padding-left: 3px;
  width: 90%;
  font-size: 20px;
  outline: none;
  border: none;
  border-bottom: .5px solid black;

}
.dealsCount{
    padding-left: 1.1rem;
    margin-top: 3rem;
    font-size: 1.3rem;
    font-weight: bolder;
}
.itemDiv{
    background-color: transparent;
    position: relative;
    cursor: pointer;
}
.itemImg:hover{
    box-shadow: rgb(145, 145, 145) 0px 2px 6px 0px;
    transition: box-shadow 0.3s ease-in-out; 
}
.itemImg{
    border-radius: 15px;
}

.itemImg{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 42.11%);
    z-index: 2;
    width: 100%;
    border-radius: 15px;
    margin: 0;
}

.dis{
    position: absolute;
    bottom: 20px;
    left: 10px;
    z-index: 10;
    font-weight: bolder;
    color: rgb(255, 255, 255);
}
.upto{
    margin: 0%;
    font-size: 2rem;
}
.disc{
    margin: 0%;
    font-size: 3rem;
}
.off{
 font-size: 2rem;   
}

img{
    width: 1rem;
}

.img-div {
  margin-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.img-div > div {
  margin: 2%;
  max-width: 21%;
  min-width: 19%;
  border-radius: 15px;
}

.img-div > div > img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}
.img-div > div p:nth-child(2) {
    margin: 0%;
    padding-bottom: 3px;
    padding-top: 7px;
    font-weight: 600;
    font-size: 1rem;
    color: rgb(15, 15, 15);
}
.img-div > div p:last-child {
    margin: 0%;
    padding-bottom: 5px;
    color: rgb(15, 15, 15);
    font-size: 1rem;
}
@media (max-width: 1440px) {
  .img-div > div {
  margin: 2%;
  max-width: 29%;
  min-width: 25%;
  border-radius: 15px;
}
} 

@media (max-width: 1024px) {
  .searchbar-div{
    margin-top: 20px;
  }
  .img-div > div {
  margin: 2%;
  max-width: 29%;
  min-width: 25%;
  border-radius: 15px;
}
} 
@media (max-width: 700px) {
  .img-div > div {
  margin: 2%;
  max-width: 45%;
  min-width: 40%;
  border-radius: 15px;
}
} 